body {
    background-color: rgb(187, 136, 113);
    font-family: sans-serif;
}

@media (min-width: 900px) {
    .wrapper { margin: 2% 10%; }
}

@media (min-width: 1170px) {
 .wrapper { margin: 2% 20%; }
}

.wrapper {
    display: flex;
    line-height: 1.5;
    background-color: white;
    box-shadow: 2px 10px 20px -3px black;
}

header { background-color: rgb(73, 77, 85); }

header h1 {
    display: inline-block;
    width: 100%;
    text-align: center;
}

.avatar {
    display: inline-block;
    margin: 0;
    width: 100%;
}

section { padding: 0 4%; }

.left-container {
flex: 1;
padding-bottom: 2%;
color: white;
background-color: rgb(73, 77, 85);
}

.right-container { flex: 2; }

.contacts-list { 
    padding: 0;
    list-style: none;
}

.contactsIcon { margin: 5px 10px 0 5px; }